@use "../_common/_" as *;
@use "../_colors/_" as *;
@use "../_motifs/_" as *;

.view-header-breadcrumb {
    @include folder-title-style();
    font-size: 16px $IMP;
}

.view-header-title {
    @include file-title-style();
    font-size: 16px $IMP;
}
