@use "../common/_" as *;

.mk-tree-item {
    --icon-container-size: 20px $I;
}
.theme-dark,
.theme-light {
    --nav-item-background-active: transparent $I;
    --nav-item-background-hover: transparent $I;
}

.mk-tree-node:has(.is-selected) {
    background-color: rgba(56, 165, 84, 0.202) $I;
    border-radius: 6px;
}
.mk-tree-node:hover {
    background-color: rgba(233, 104, 104, 0.447) $I;
    border-radius: 6px;
}
.mk-tree-text {
    font-size: 17px $I;
}
