.mk-tree-item {
    --icon-container-size: 20px !important;
}
.theme-dark,
.theme-light {
    --nav-item-background-active: transparent !important;
    --nav-item-background-hover: transparent !important;
}

.mk-tree-node:has(.is-selected) {
    background-color: rgba(56, 165, 84, 0.202) !important;
    border-radius: 6px;
}
.mk-tree-node:hover {
    background-color: rgba(233, 104, 104, 0.447) !important;
    border-radius: 6px;
}
.mk-tree-text {
    font-size: 17px !important;
}
