@use "../common/_" as *;
$heading-colors: (
    "#9D86FF",
    // h1 light
    "#3DFF96",
    // h2 light
    "#F02FFF",
    // h3 dark
    "#FFAD14",
    // h4 dark
    "#FF3567" // h5 dark
);
:root {
    --inline-document-title-color: var(--doc-title-h3) $imp;
    @for $i from 1 through length($heading-colors) {
        --h#{$i}-color: nth($heading-colors, $i);
    }
}
