$img_hammer-page: "https://img.icons8.com/?size=100&id=xxHGOAVQE3lq&format=png&color=000000";
$img_yes-no-book: "https://img.icons8.com/?size=100&id=KGqdRCbzdscK&format=png&color=000000";
$img_magic-brain: "https://img.icons8.com/?size=100&id=M16ic8QWK8x6&format=png&color=000000";
$img_james-bond: "https://img.icons8.com/?size=100&id=FWEyS4pICP3o&format=png&color=000000";
$img_bot-message: "https://img.icons8.com/?size=100&id=L3uh0mNuxBXw&format=png&color=000000";
$img_scroll: "https://img.icons8.com/?size=100&id=119004&format=png&color=000000";
$img_manual: "https://img.icons8.com/?size=100&id=AmE9lLCid7lN&format=png&color=000000";
$img_manual-2: "https://img.icons8.com/?size=100&id=bwUgs69v7bOd&format=png&color=000000";
$img_page: "https://img.icons8.com/?size=100&id=o69ikUrhKZRd&format=png&color=000000";
$img_stack-pages: "https://img.icons8.com/?size=100&id=iWvM6e7lOfVe&format=png&color=000000";
$img_weird-chip: "https://img.icons8.com/?size=100&id=ETwOdwWFfzJH&format=png&color=000000";
$img_copilot: "https://img.icons8.com/?size=100&id=Yl9ip6CjqAEI&format=png&color=000000";
$img_chatgpt_2: "https://img.icons8.com/?size=100&id=4GhGzHg3nZeG&format=png&color=000000";
$img_chatgpt_3: "https://img.icons8.com/?size=100&id=ka3InxFU3QZa&format=png&color=000000";
$img_chatgpt: "https://img.icons8.com/?size=100&id=bqBDyembTAOT&format=png&color=000000";
$img_puzzle: "https://img.icons8.com/?size=100&id=12782&format=png&color=000000";
$img_exclaim: "https://img.icons8.com/?size=100&id=B2BjyqY9JBpi&format=png&color=000000";
$img_exclaims: "https://img.icons8.com/?size=100&id=8exMynoy0Vkc&format=png&color=000000";
$img_folder-closed-4: "https://img.icons8.com/?size=100&id=MQUrzsTq4kA3&format=png&color=000000";
$img_folder-open-4: "https://img.icons8.com/?size=100&id=CKtPhNMyI8bF&format=png&color=000000";
$img_folder-closed-3: "https://img.icons8.com/?size=100&id=1JkLLEO1hYlQ&format=png&color=000000";
$img_folder-open-3: "https://img.icons8.com/?size=100&id=QUlFATTT2TXw&format=png&color=000000";
$img_folder-closed-1: "https://img.icons8.com/?size=100&id=pLnfVVCAXRZv&format=png&color=000000";
$img_folder-open-1: "https://img.icons8.com/?size=100&id=qFXZKgFp1TCt&format=png&color=000000";
$img_folder-closed: "https://img.icons8.com/?size=100&id=oiCA327R8ADq&format=png&color=000000";
$img_folder-open: "https://img.icons8.com/?size=100&id=eo8dQuzAjKVi&format=png&color=000000";
