@use "../_common/_" as *;
@use "./_images.scss" as *;
@use "../_colors/_" as *;
@use "../_motifs/_" as *;
@use "sass:map" as *;
$file-to-icon: (
    "chatgpt": $img_chatgpt,
    "copilot": $img_copilot,
    "prompts": $img_exclaims,

    "gents": $img_magic-brain,
    "refs": $img_stack-pages,
    ".agent": $img_magic-brain,
    ".agent.md": $img_magic-brain,
    ".rules.md": $img_hammer-page,
    "rules": $img_yes-no-book,
    ".prompt.md": $img_exclaim,
    ".prompt": $img_exclaims,

    ".ref.md": $img_page,
    ".ref": $img_stack-pages,
    ".sec.md": $img_puzzle,
    ".sec": $img_stack-pages
);
@function bg-line($image) {
    @return url(#{$image}) no-repeat center / contain;
}
@mixin set-color-from-icon-name($icon-name) {
    font-family: var(--font-monospace) $IMP;
    @if ends-with($icon-name, ".md") {
        @include file-title-style();
    } @else {
        @include folder-title-style();
    }
}

@mixin set-bg-icon-from-name($icon-name) {
    $icon: get($file-to-icon, $icon-name);
    @include set-bg-icon($icon);
}

@mixin set-bg-icon($icon) {
    background: bg-line($icon) $IMP;
}
