@use "../_common/_" as *;
@use "./_maps.scss" as icons;
@use "sass:map";

@mixin _icon($icon, $size) {
    content: "";
    height: $size;
    width: $size;
    display: inline-block;
    @if starts-with($icon, "http") {
        @include icons.set-bg-icon($icon);
    } @else {
        @include icons.set-bg-icon-from-name($icon);
    }
}

@mixin before_icon($icon, $size) {
    &::before {
        @include _icon($icon, $size);
        @content;
    }
}

@mixin after_icon($icon, $size) {
    &::after {
        @include _icon($icon, $size);
        @content;
    }
}

@mixin _bc-icon($icon) {
    @include before_icon($icon, 16px) {
        margin-bottom: -2px;
        margin-right: 6px;
        margin-right: 8px;
    }
}

@mixin insert-bc-icon() {
    @each $label-end, $icon in icons.$file-to-icon {
        &[aria-label$="#{$label-end}"] {
            @include _bc-icon($icon);
        }
    }
}
