@use "../_common/_" as *;
@use "../tabs/" as tabs;
@forward "./headings.scss";
@forward "./title.scss";

.markdown-embed[src$=".sec"] {
    & > .embed-title {
        font-size: 1.5em;
        &::before {
            content: "<";
        }
        &::after {
            content: ">";
        }
        @include margin-lr(-10px);
        margin-top: -10px;
        background: rgb(9, 44, 2);
    }
}
