@use "../_common/" as *;
.internal-embed.is-loaded {
    max-height: 700px $IMP;
    overflow: scroll $IMP;
    .internal-embed.is-loaded {
        max-height: 350px $IMP;
        overflow: scroll $IMP;
    }
}
