@use "../_common/_" as *;
@use "../icons/_" as icons;
@use "../tabs/" as tabs;
@mixin _title-icon($icon-name) {
    @include icons.before_icon($icon-name, 32px) {
        justify-self: center;
        align-self: center;
        margin-bottom: -5px;
        margin-right: 10px;
    }
}

@include tabs.loop-selected-tabs-by-icon using ($icon) {
    .inline-title,
    .title-alias {
        @include _title-icon($icon);
        @include icons.set-color-from-icon-name($icon);
        font-weight: 600 $IMP;
    }
}

.mk-title-container {
    flex-wrap: nowrap $IMP;
}
