@use "../_common/_" as *;
@use "../_colors/tabs" as tabc;
@use "../styling.scss" as styling;
@use "../icons/_" as icons;
$_tab-box-shadow-strong: 0px -6px 2px 0px rgba(0, 0, 0, 0.564);
$_tab-box-shadow-active: 0px 0px 2px 2px rgb(253, 253, 255);

.workspace-split.mod-vertical .workspace-tab-header-container {
    --tab-font-size: 18px $IMP;
    --header-height: auto $IMP;
    padding-bottom: 5px $IMP;
    .workspace-tab-header {
        &::before {
            display: none $IMP;
        }
        &::after {
            display: none $IMP;
        }
        box-shadow: $_tab-box-shadow-strong $IMP;

        &.is-active {
            box-shadow: $_tab-box-shadow-active $IMP;
        }
        &:hover {
            .workspace-tab-header-inner-close-button {
                visibility: visible $IMP;
            }
        }
        &:hover,
        &.is-active {
            .workspace-tab-header-inner-close-button {
                visibility: visible $IMP;
                color: white;
            }
        }

        @for $i from 1 through 15 {
            &:nth-child(#{$i}) {
                background-color: tabc.get-tab-color-normal(#{$i}) $IMP;
                &.is-active {
                    background-color: tabc.get-tab-color-active(#{$i}) $IMP;
                }
                &:hover {
                    background-color: tabc.get-tab-color-hover(#{$i}) $IMP;
                }
            }
        }
        .workspace-tab-header-inner-close-button {
            display: flex $IMP;
            visibility: hidden;
        }

        container-type: unset $IMP;
        max-width: unset $IMP;
        flex-grow: 0.3 $IMP;
        flex-shrink: 0 $IMP;
        flex-basis: auto $IMP;
        padding: 10px 15px $IMP;
        margin: 2px $IMP;
        border-radius: 8px $IMP;
        &-inner {
            width: auto $IMP;
            background: unset $IMP;
            &-title {
                overflow: visible $IMP;
                width: auto $IMP;
                flex: none $IMP;
            }
        }
        width: auto $IMP;
    }
}
