@use "../common/_" as *;
@use "./_images.scss" as *;
@use "../colors/_" as *;
@use "sass:map" as *;
$_rules-file: $img_hammer-page;
$_rules-folder: $img_yes-no-book;
$_agent-file: $img_magic-brain;
$_agent-dir: $img_magic-brain;
$_prompt-file: $img_bot-message;
$_prompt-folder: $img_scroll;
$_ref-file: $img_page;
$_ref-folder: $img_stack-pages;
$_main-folder: $img_weird-chip;
$file-to-icon: (
    "chatgpt": $img_chatgpt,
    "copilot": $img_copilot,
    "agent": $_agent-dir,
    "agents": $_agent-dir,
    "agent.md": $_agent-file,
    "rules.md": $_rules-file,
    "rules": $_rules-folder,
    "prompt.md": $_prompt-file,
    "prompt": $_prompt-folder,
    "ref.md": $_ref-file,
    "ref": $_ref-folder
);
@function bg-line($image) {
    @return url(#{$image}) no-repeat center / contain;
}
@mixin set-color-from-icon-name($icon-name) {
    @if ends-with($icon-name, ".md") {
        color: $file-color $IMP;
        font-weight: 400;
    } @else {
        color: $folder-color $IMP;
        font-weight: 500;
    }
}

@mixin set-bg-icon-from-name($icon-name) {
    $icon: get($file-to-icon, $icon-name);
    @include set-bg-icon($icon);
}

@mixin set-bg-icon($icon) {
    background: bg-line($icon) $IMP;
}
