@use "../common/_" as *;
@use "./_maps.scss" as icons;
@use "sass:map";

@mixin _bc-icon($icon) {
    &::before {
        content: "";
        display: inline-block;
        height: 12px;
        width: 12px;
        margin-bottom: -2px;
        margin-right: 6px;
        background: bg-line($icon);
    }
}

@mixin insert_explorer_icon() {
}

@mixin insert-bc-icon() {
    @each $label-end, $icon in icons.$file-to-icon {
        &[aria-label$="#{$label-end}"] {
            @include _bc-icon($icon);
        }
    }
}

@mixin insert-title-icon() {
}

@include insert_explorer_icon();
