@use "./_tab-colors.scss" as tabc;
.workspace-split.mod-vertical .workspace-tab-header-container {
    --tab-font-size: 18px !important;
    --header-height: auto !important;
    padding-bottom: 5px !important;
    .workspace-tab-header {
        &::before {
            display: none !important;
        }
        &::after {
            display: none !important;
        }
        box-shadow: 0px -6px 2px 0px rgba(0, 0, 0, 0.564) !important;

        &.is-active {
            box-shadow: 0px 0px 2px 2px rgb(253, 253, 255) !important;
        }
        &:hover {
            .workspace-tab-header-inner-close-button {
                visibility: visible !important;
            }
        }
        &:hover,
        &.is-active {
            .workspace-tab-header-inner-close-button {
                visibility: visible !important;
                color: white;
            }
        }

        @for $i from 1 through 15 {
            &:nth-child(#{$i}) {
                background-color: tabc.get-tab-color-normal(#{$i}) !important;
                &.is-active {
                    background-color: tabc.get-tab-color-active(#{$i}) !important;
                }
                &:hover {
                    background-color: tabc.get-tab-color-hover(#{$i}) !important;
                }
            }
        }
        .workspace-tab-header-inner-close-button {
            display: flex !important;
            visibility: hidden;
        }
        container-type: unset !important;
        max-width: unset !important;
        flex-grow: 0.3 !important;
        flex-shrink: 0 !important;
        flex-basis: auto !important;
        padding: 10px 15px !important;
        margin: 2px !important;
        border-radius: 8px !important;
        &-inner {
            width: auto !important;
            background: unset !important;
            &-title {
                overflow: visible !important;
                width: auto !important;
                flex: none !important;
            }
        }
        width: auto !important;
    }
}

.workspace-tab-header-container-inner {
    flex-wrap: wrap !important;
}
