@use "../_common/_" as *;
@use "../_colors/_" as *;
@for $i from 1 through 100 {
    .mk-tree-node[data-index="#{$i}"] {
        @if $i % 2 == 1 {
            background-color: $alternating-color;
        }
    }
}
.theme-dark {
    --nav-item-background-active: transparent $IMP;
    --nav-item-background-hover: transparent $IMP;
}

.tree-item-self {
    border-radius: 6px;
    &.is-active:not(.has-focus) {
        background-color: $explorer-active-bg $IMP;
    }
    &.has-focus {
        background-color: $explorer-selected-bg $IMP;
    }
    &:hover {
        background-color: $explorer-hover-bg $IMP;
    }
    font-size: 1em;
}

.mk-tree-node:hover {
    background-color: $explorer-hover-bg $IMP;
}

.nav-folder-title-content {
    font-weight: 600 $IMP;
    color: $folder-color $IMP;
}

.nav-file-title-content {
    color: $file-color $IMP;
}
