@use "../_common/_" as *;
@use "../_colors/_" as *;
@use "../icons/_" as *;
@for $i from 1 through 100 {
    .mk-tree-node[data-index="#{$i}"] {
        @if $i % 2 == 1 {
            background-color: $alternating-color;
        }
    }
}
.theme-dark {
    --nav-item-background-active: transparent $IMP;
    --nav-item-background-hover: transparent $IMP;
}

.tree-item-children {
}

.tree-item {
    border-radius: none;
    margin-top: -1px;
}

.tree-item-self {
    &.is-active:not(.has-focus, .fn-is-active) {
        background-color: $explorer-active-bg $IMP;
    }
    &:where(.has-focus, .fn-is-active) {
        background-color: $explorer-selected-bg $IMP;
    }
    &:hover {
        background-color: $explorer-hover-bg $IMP;
    }
    font-size: 1em;
}

.nav-file-title-content {
    color: $file-color $IMP;
}
