@use "../common/_" as *;
@use "../colors/_colors" as tabc;
@use "../styling.scss" as styling;
.workspace-split.mod-vertical .workspace-tab-header-container {
    --tab-font-size: 18px $imp;
    --header-height: auto $imp;
    padding-bottom: 5px $imp;
    .workspace-tab-header {
        &::before {
            display: none $imp;
        }
        &::after {
            display: none $imp;
        }
        box-shadow: var(--box-shadow-strong) $imp;

        &.is-active {
            box-shadow: var(--box-shadow-active) $imp;
        }
        &:hover {
            .workspace-tab-header-inner-close-button {
                visibility: visible $imp;
            }
        }
        &:hover,
        &.is-active {
            .workspace-tab-header-inner-close-button {
                visibility: visible $imp;
                color: white;
            }
        }

        @for $i from 1 through 15 {
            &:nth-child(#{$i}) {
                background-color: tabc.get-tab-color-normal(#{$i}) $imp;
                &.is-active {
                    background-color: tabc.get-tab-color-active(#{$i}) $imp;
                }
                &:hover {
                    background-color: tabc.get-tab-color-hover(#{$i}) $imp;
                }
            }
        }
        .workspace-tab-header-inner-close-button {
            display: flex $imp;
            visibility: hidden;
        }
        container-type: unset $imp;
        max-width: unset $imp;
        flex-grow: 0.3 $imp;
        flex-shrink: 0 $imp;
        flex-basis: auto $imp;
        padding: 10px 15px $imp;
        margin: 2px $imp;
        border-radius: 8px $imp;
        &-inner {
            width: auto $imp;
            background: unset $imp;
            &-title {
                overflow: visible $imp;
                width: auto $imp;
                flex: none $imp;
            }
        }
        width: auto $imp;
    }
}

.workspace-tab-header-container-inner {
    flex-wrap: wrap $imp;
}
