.theme-dark {
    --tab-color-1: #1b2c32;
    --tab-color-2: #042f0d;
    --tab-color-3: #510d50;
    --tab-color-4: #6f0c0c;
    --tab-color-5: #2a2265;
    --tab-color-6: #3e4b39;
    --tab-color-7: #540640;
    --tab-color-8: #2b095a;
    --tab-color-9: #470060;
    --tab-color-10: #561f1f;
    --tab-color-11: #32402e;
    --tab-color-12: #120d4d;
    --tab-color-13: #0e3805;
    --tab-color-14: #385100;
    --tab-color-15: #003c34;
}
@function css-lighten($color, $amount) {
    @return lch(from var(#{$color}) calc(l + $amount) c h);
}
@function get-tab-color($index) {
    @return var(--tab-color-#{$index});
}
@function get-tab-color-normal($index) {
    @return css-lighten(--tab-color-#{$index}, -10);
}

@function get-tab-color-active($index) {
    @return css-lighten(--tab-color-#{$index}, 10);
}

@function get-tab-color-hover($index) {
    @return css-lighten(--tab-color-#{$index}, 20);
}
